<div class="container text-center">
    <div class="fullscreen p-2" *ngIf="fullscreenActive">
        <img [src]="fullscreenUrl" [alt]="fullscreenTitle" class="p-1"
             title="Click to close" tabindex="0"
             (keydown)="onCloseFullscreen()" (click)="onCloseFullscreen()"/>
    </div>
    <ng-container *ngIf="!fullscreenActive">
        <app-header></app-header>
        <app-search [query]="query" [loading]="loading" (searchQuery)="onSearch($event)"></app-search>
        <p *ngIf="showWarning" class="alert alert-warning p-2">No results, please try again</p>
        <app-thumbnail (fullscreen)="onFullscreen($event)" *ngFor="let img of data" [imgObj]="img"></app-thumbnail>
        <app-pagination (selectPage)="onSelectPage($event)" [page]="page" [totalPages]="total"></app-pagination>
    </ng-container>
</div>
